.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  text-align: center;
  color: white;
}
.container__content {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  background-color: rgba(26, 25, 25, 0.5);
  padding: 2rem;
  min-height: 80svh;
  width: 50rem;
  gap: 1rem;
  @media (max-width: 768px) {
    width: 90%;
  }
}
.audio {
  pointer-events: none;
}
.container__guessbox {
  display: flex;
  flex-direction: column; /* Alinha a entrada e as sugestões verticalmente */
  position: relative; /* Define um contexto para as sugestões */
  gap: 1rem;
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}
.score {
  font-size: 1rem;
  margin-bottom: 20px;
  color: white;
  text-align: end;
}

.input {
  width: 400px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1; /* Garante que a entrada esteja acima de outros elementos */
  @media (max-width: 768px) {
    width: 300px;
  }
  @media (max-width: 600px) {
    width: 150px;
  }
}

.suggestions {
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: white;
  position: absolute; /* Garante que esteja logo abaixo da entrada */
  top: 100%; /* Posiciona as sugestões logo abaixo da entrada */
  left: 0;
  width:  400px; /* Mesma largura que o input */
  z-index: 10; /* Fica acima de outros elementos */
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 90%;
  @media (max-width: 768px) {
    width: 300px;
  }
  @media (max-width: 600px) {
    width: 150px;
  }
}
.suggestion {
  padding: 10px;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.suggestion:active {
  background-color: #d0d0d0;
}

.guessButton {
  align-self: end;
  padding: 10px 0px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  color: #ebebebdd;
  background-color: var(--red);
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.guessButton:hover {
  background-color: var(--light-yellow);
  color: #333;
}
.countdown{
    padding: 10px 20px;
}
.replayButton {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  color: #ebebebdd;
  background-color: var(--red);
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s;
  align-self: end;
}

.replayButton:hover {
  background-color: var(--light-yellow);
  color: #333;
}

.feedback {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}

.no-movies {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.feedbackGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.feedbackItem {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.partial {
  background-color: orange;
  color: white;
}

.guessesContainer {
}

.guessRow {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.guessTitle {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 200px;
  min-width: 60px;
  font-size: 1rem;

  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
  @media (max-width: 600px) {
    font-size: 0.5rem;
  }
}
.guessBox {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 60px;
  width: 200px;
  min-width: 60px;
  font-size: 1rem;

  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
  @media (max-width: 600px) {
    font-size: 0.5rem;
  }
}

.green {
  background-color: #4caf50; /* Verde */
}

/* Classe Red - Erro */
.red {
  background-color: #f44336; /* Vermelho */
  color: white;
}

.red__smaller {
  background-color: #f44336; /* Vermelho */
  color: white;
  position: relative; /* Para posicionar a seta */
}

.red__smaller::after {
  content: "➨"; /* Seta para cima */
  font-size: 50px;
  position: absolute;
  top: -5%;
  left: 86%;
  transform: translateX(-50%) rotate(270deg); /* Ajuste para centralizar e rotacionar */
  color: #6e140f;
  filter: opacity(40%);
}

.red__greater {
  background-color: #f44336; /* Vermelho */
  color: white;
  position: relative; /* Para posicionar a seta */
}

.red__greater::after {
  content: "➨"; /* Seta para baixo */
  font-size: 50px;
  position: absolute;
  bottom: -5%;
  left: 90%;
  transform: translateX(-50%) rotate(90deg); /* Ajuste para centralizar e rotacionar */
  color: #6e140f;
  filter: opacity(40%);
}

.orange {
  background-color: #ff9800; /* Laranja */
}

.movieDetails {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

.movieDetails h3 {
  font-size: 24px;
  font-weight: bold;
}

.movieDetails p {
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 768px) {

  .red__smaller::after {
    left: 48%;
  }

  .red__greater::after {
    left: 52%;
  }
}
@media (max-width: 600px) {

  .red__smaller::after {
    left: 46%;
  }

  .red__greater::after {
    left: 56%;
  }
}