.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.container__content {
  height: 50rem;
  backdrop-filter: blur(5px);
  background-color: rgba(26, 25, 25, 0.5);
  padding: 2rem;
  width: 50rem;

}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}
.subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 2rem;
}
.feedbackArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}
.startButton {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: #ebebebdd;
  background-color: var(--red);
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.startButton:hover {
  background-color: var(--light-yellow);
  color: #333;
}
